/* * {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    background-color: #fffaf8;
}

header {
    position: fixed;
    width: 100vw;
    height: 70px;
}

header .container {
    width: 100%;
    height: 100%;
    background-color: #f23838;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

header .container .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    max-width: 320px;
    width: 100%;
    padding: 15px 0;
}

header .container .content .right-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: inherit;
    justify-content: flex-end;
}

header .container .content .right-content .language-container, .right-content .profile-button {
    height: 50%;
}

header .container .content .right-content .language-container a, .right-content .profile-button a, .right-content .hamburger {
    margin-left: 20px;
}

header .container .content .right-content a {
    white-space: nowrap;
    text-decoration: none;
    color: white;
}

.fa-earth-europe, .fa-user {
    color: white;
    height: 100%;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    background-color: white;
    display: block;
    width: 25px;
    height: 3px;
    margin: 4px 0;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    border-radius: 20px;
}

.hamburger {
    display: block;
}

main .background {
    background-color: #434343;
    background-repeat: repeat;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 400px;
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width: 768px ) {
    .logo, .games, .news {
        display: none;
    }
} */

.breadcrumbs {
    width: 100%;
    margin-bottom: 20px;
}

.item-box {
	padding: 20px;
	padding-bottom: 0;
	background-color: #fff;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 4px 0 rgba(51,51,51,0.1);
	box-shadow: 0 0 4px 0 rgba(51,51,51,0.1);
}

.profiel #profile .container .contentbox {
    padding-top: 100px;
}

.profiel #profile .container .contentbox .profile-header .header-info {
    display: flex;
    flex-wrap: wrap;
}

.profiel #profile .container .contentbox .profile-header .profile-box-1 {
    margin-bottom: 20px;
}

.profiel #profile .container .contentbox .profile-header .header-info .left {
    position: relative;
}

.profiel #profile .container .contentbox .profile-header .header-info .right {
    width: 100%;
}

.profiel #profile .container .contentbox .profile-header .header-info .left .title-container {
	display: flex;
    flex-direction: column;
	justify-content: space-between;
	margin-bottom: 70px;
}

.profiel #profile .container .contentbox .profile-header .header-info .right .progress-bar-container {
	margin-bottom: 50px;
}

.profiel #profile .container .contentbox .profile-header .header-info .right .progress-bar-container .rank {
	font-size: 16px;
}

.profiel #profile .container .contentbox .profile-header .header-info .right .progress-bar-container .full-progress-bar {
	width: 100%;
    height: 5px;
    background-color: #eba3a7;
    border-radius: 10px;
}

.profiel #profile .container .contentbox .profile-header .header-info .right .progress-bar-container .full-progress-bar .progress-bar {
    width: 0px;
    height: 5px;
    background-color: #ec202c;
    border-radius: 10px;
}

.profiel #profile .container .contentbox .profile-header .header-info .right .progress-bar-container .progression-text {
    font-size: 12px;
	font-style: italic;
}

.profiel #profile .container .contentbox .profile-header .profile-header-box .left .title-pic-container .title-container .breadcrumbs .container {
	padding: 0
}

.profiel #profile .container .contentbox .profile-header .profile-header-box .left .title-pic-container .title-container .breadcrumbs .container .content .breadcrumbs-wrapper .breadcrumbs svg {
	color: #888
}

.profiel #profile .container .contentbox .profile-header .profile-header-box .left .title-pic-container .title-container .breadcrumbs .container .content .breadcrumbs-wrapper .breadcrumbs a {
	color: #888
}

.profiel #profile .container .contentbox .profile-header .profile-header-box .left .title-pic-container .title-container .breadcrumbs .container .content .breadcrumbs-wrapper .breadcrumbs a:hover {
	color: #fd4c4c
}

.profiel #profile h3 {
	font-size: 16px;
    margin: 0;
}

.profiel #profile .container .contentbox .profile-header .header-info .left h1 {
	font-size: 24px;
	line-height: 1.2;
	margin: 0px
}

.profiel #profile .container .contentbox .profile-header .header-info .left .profile-pic {
    position: relative;
}

.profiel #profile .container .contentbox .profile-header .header-info .right .permanent-closed,
.profiel #profile .container .contentbox .profile-header .header-info .left .closed {
	color: #fd4c4c
}

.profiel #profile .container .contentbox .profile-header .header-info .left .closed {
    position: absolute;
    top: calc(100% - 34px);
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 0 5px 0 0;
}

.profiel #profile .container .contentbox .profile-header .item-wrapper .label-container {
    display: flex;
    flex-wrap: wrap;
}

.profiel #profile .container .contentbox .profile-header .item-wrapper .label-container .labels:nth-child(2), .profiel #profile .container .contentbox .profile-header .item-wrapper .label-container .labels:nth-child(5) {
    border-left: 1px solid rgb(167, 167, 167);
}

.profiel #profile .container .contentbox .profile-header .item-wrapper .label-container .labels:nth-child(1), .profiel #profile .container .contentbox .profile-header .item-wrapper .label-container .labels:nth-child(2) {
    border-bottom: 1px solid rgb(167, 167, 167);
}

.profiel #profile .container .contentbox .profile-header .item-wrapper .label-container .labels:nth-child(4), .profiel #profile .container .contentbox .profile-header .item-wrapper .label-container .labels:nth-child(5), .profiel #profile .container .contentbox .profile-header .item-wrapper .label-container .labels:nth-child(6) {
    border-top: 1px solid rgb(167, 167, 167);
}

.profiel #profile .container .contentbox .profile-header .item-wrapper .labels {
    width: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-direction: column;
    text-align: center;
    padding: 20px;
}

.profiel #profile .container .contentbox .profile-header .item-wrapper .labels.full-width {
    width: 100%;
}

.profiel #profile .container .contentbox .profile-header .item-wrapper .labels .label.number {
    font-size: 20px;
    font-weight: 700;
}

.profiel #profile .container .contentbox .profile-header .item-wrapper .labels .label.statistic {
    font-size: 12px;
    text-transform: uppercase;
}

.profiel #profile .container .contentbox .profile-header .item-wrapper .full-width .label.statistic br {
    display: none;
}

.profiel #profile .container .contentbox .more-information .challenges-top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profiel #profile .container .contentbox .more-information .challenges-top-container .claim-all-btn {
    max-width: 140px;
    width: 35%;
    text-align: center;
    background-color: #efefef;
    padding: 5px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    font-size: 12px;
}

.profiel #profile .container .contentbox .more-information .challenge {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
}

.profiel #profile .container .contentbox .more-information .challenge .challenge-title {
    font-size: 12px;
    font-weight: 500;
}

.profiel #profile .container .contentbox .more-information .challenge .challenge-pb {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profiel #profile .container .contentbox .more-information .challenge .challenge-pb .pb-container {
    width: 100%;
    margin-top: 10px;
}

.profiel #profile .container .contentbox .more-information .challenge .challenge-pb .full-progress-bar {
    height: 5px;
    background-color: #d9d9d9;
    border-radius: 10px;
}

.profiel #profile .container .contentbox .more-information .challenge .challenge-pb .full-progress-bar .progress-bar {
    width: 0px;
    height: 5px;
    background-color: #838383;
    border-radius: 10px;
}

.profiel #profile .container .contentbox .more-information .challenge .challenge-pb .challenge-progression {
    font-size: 10px;
}

.profiel #profile .container .contentbox .more-information .challenge .challenge-pb .claim-btn {
    width: 25%;
    background-color: #efefef;
    padding: 5px;
    margin-left: 10px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
}

.profiel #profile .container .contentbox .more-information .extra-information p, .profiel #profile .container .contentbox .more-information .badges-box p, .profiel #profile .container .contentbox .more-information .teams-box p {
	color: #888;
    font-size: 12px;
}

.profiel #profile .container .contentbox .profile-header .header-info .right .contact-information .item-wrapper .item .item-category {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}

.profiel #profile .container .contentbox .profile-header .header-info .right .contact-information .item-wrapper .item .item-category svg {
    width: 17px;
}

.profiel #profile .container .contentbox .profile-header .header-info .right .contact-information .item-wrapper .item .item-category p {
    margin-left: 10px;
}

.profiel #profile .container .contentbox .profile-header .header-info .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    width: 100%;
    justify-content: space-between;
}

.edit-profile {
    color: #acacac;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    height: fit-content;
    align-items: center;
    position: absolute;
    left: 0;
    top: 360px;
}

.edit-profile .svg-inline--fa {
    margin-right: 5px;
}

.profiel #profile .container .contentbox .profile-header .header-info .lazy-loaded {
    display: flex;
}

@media (min-width: 375px) {
    .container {
        padding: 0;
    }
}

@media (min-width: 568px) {
    .profiel #profile .container .contentbox .profile-header .header-info .left {
        width: 100%;
        display: flex;
        justify-content: space-between;
	}

    .profiel #profile .container .contentbox .profile-header .header-info .left .title-container {

        display: flex;
        justify-content:unset;
        flex-direction: column;
    }   
    
    .profiel #profile .container .contentbox .profile-header .header-info .left .title-pic-container {
        display: flex;

    }

    .profiel #profile .container .contentbox .profile-header .header-info .left .title-pic-container .profile-pic {
        position: relative;
    }

    .profiel #profile .container .contentbox .profile-header .header-info .left .closed {
        position: absolute;
        top: calc(100px - 21px);
        padding: 2px 7px;
        background-color: #fff;
        border-radius: 0 5px 0 0;
        font-size: 12px;
    }

    .edit-profile {
        color: #acacac;
        font-size: 12px;
        font-weight: 700;
        display: flex;
        height: fit-content;
        align-items: center;
        position:unset;
    }
}

@media (min-width: 1024px) {
    .profiel #profile .container .contentbox .profile-header {
        display: flex;
        flex-direction: column;
    }

    .profiel #profile .container .contentbox .profile-header .profile-box-1 {
        margin-bottom: 0px;
    }

    .profiel #profile .container .contentbox .profile-header .item-wrapper .profile-header-box {
        margin-bottom: 20px;
        padding-bottom: 20px;
        display: flex;
        /* flex-direction: column; */
        /* justify-content: center; */
    }

    .profiel #profile .container .contentbox .profile-header .header-info .left {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .profiel #profile .container .contentbox .profile-header .header-info .left .title-pic-container {
        display: flex;

    }

    .profiel #profile .container .contentbox .profile-header .header-info .left h1 {
        font-size: 24px;
        line-height: 1.2;
        margin: 0 10px 0 0
    }


    .profiel #profile .container .contentbox .profile-header .header-info .left .title-pic-container .profile-pic {
        position: relative;
    }

    .profiel #profile .container .contentbox .profile-header .header-info .left .title-pic-container .profile-pic .closed {
        position: absolute;
        top: calc(100% - 28px);
        padding: 5px 10px;
        background-color: #fff;
        border-radius: 0 5px 0 0;
        font-size: 12px;
    }

    .profiel #profile .container .contentbox .profile-header .header-info .right .progress-bar-container .rank {
        font-size: 18px;
    }

    .profiel #profile .container .contentbox .profile-header .header-info .left .title-container .title .breadcrumbs .container {
        padding: 0;
    }

    .profiel #profile .container .contentbox .profile-header .header-info .left .breadcrumbs .container {
        padding: 0
    }
    
    .profiel #profile .container .contentbox .profile-header .header-info .left .breadcrumbs svg {
        color: #888
    }
    
    .profiel #profile .container .contentbox .profile-header .header-info .left .breadcrumbs a {
        color: #888
    }
    
    .profiel #profile .container .contentbox .profile-header .header-info .left .breadcrumbs a:hover {
        color: #fd4c4c
    }

    .profiel #profile h3 {
        font-size: 20px;
        margin: 0 0 20px 0;
    }

    .edit-profile {
        position: relative;
        right: 0;
        top: 0;
        color: #acacac;
        font-size: 12px;
        font-weight: 700;
        display: flex;
        height: fit-content;
        align-items: center;

        
    }

    .profiel #profile .container .contentbox .profile-header .header-info .right {
        position: relative;
        top: -85px;
        left: 170px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        width: calc(100% - 170px);
        justify-content: space-between;
        margin-bottom: -85px;
    }

    .profiel #profile .container .contentbox .profile-header .header-info .right .progress-bar-container {
        position: absolute;
        bottom: 0;
        padding-bottom: 0px;
        margin: 0;
        width: 50%;
    }

    .profiel #profile .container .contentbox .profile-header .header-info .right .contact-information {
        width: 50%;
        position: absolute;
        top: calc(-63px + (75px - (87px / 2)));
        right: 0;
    }

    .profiel #profile .container .contentbox .profile-header .header-info .right .contact-information .item-wrapper {
        display: flex;
        justify-content: center;
    }

    .profiel #profile .container .contentbox .profile-header .header-info .right .contact-information .item-wrapper .item {
        flex-direction: row;
        width: 100%;
    }

    .profiel #profile .container .contentbox .profile-header .header-info .right .contact-information .item-wrapper .item .item-category {
        justify-content: center;
    }

    .profiel #profile .container .contentbox .profile-header .item-wrapper .item {
        margin-bottom: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .profiel #profile .container .contentbox .profile-header .header-info .right .contact-information .item-wrapper .item .item-category {
        display: flex;
        margin-bottom: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
    }

    .profiel #profile .container .contentbox .profile-header .header-info .right .contact-information .item-wrapper .item .item-category p {
        margin-left: 10px;
    }

    .profiel #profile .container .contentbox .profile-header .item-wrapper .label-container {
        display: flex;
        flex-wrap: nowrap;
    }

    .profiel #profile .container .contentbox .profile-header .item-wrapper .labels, .profiel #profile .container .contentbox .profile-header .item-wrapper .labels.full-width {
        width: calc(100% / 6);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        padding: 0;
    }

    .profiel #profile .container .contentbox .profile-header .item-wrapper .labels .label.number {
        font-size: 24px;
    }

    .profiel #profile .container .contentbox .profile-header .item-wrapper .labels .label.statistic {
        font-size: 16px;
        line-height: 1.3em;
        text-transform: capitalize;
    }

    .profiel #profile .container .contentbox .profile-header .item-wrapper .full-width .label.statistic br {
        display: inline;
    }

    .profiel #profile .container .contentbox .profile-header .item-wrapper .label-container .labels:nth-child(n+2) {
        border-left: 1px solid rgb(167, 167, 167);
    }
    
    .profiel #profile .container .contentbox .profile-header .item-wrapper .label-container .labels:nth-child(1), .profiel #profile .container .contentbox .profile-header .item-wrapper .label-container .labels:nth-child(2) {
        border-bottom: 0px solid rgb(167, 167, 167);
    }
    
    .profiel #profile .container .contentbox .profile-header .item-wrapper .label-container .labels:nth-child(4), .profiel #profile .container .contentbox .profile-header .item-wrapper .label-container .labels:nth-child(5), .profiel #profile .container .contentbox .profile-header .item-wrapper .label-container .labels:nth-child(6) {
        border-top: 0px solid rgb(167, 167, 167);
    }

    .profiel #profile .container .contentbox .more-information .challenges-top-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .profiel #profile .container .contentbox .more-information .grid .item-wrapper .challenges-box .challenges-container {
        margin-top: -20px;
    }

    .profiel #profile .container .contentbox .more-information .grid .item-wrapper .challenges-box .challenges-container .challenges {
        height: 100%;
        max-height: 370px;
        overflow-y: scroll;
    }

    .profiel #profile .container .contentbox .more-information .grid .item-wrapper .challenges-box .challenges-container .challenges::webkit-scrollbar-track {
        border: 0px solid #000;
    }

    .profiel #profile .container .contentbox .more-information .grid .item-wrapper .challenges-box .challenges-container .challenges::webkit-scrollbar {
        position: relative;
        z-index: 1;
    }

    .profiel #profile .container .contentbox .more-information .challenges-top-container .claim-all-btn {
        max-width: 140px;
        width: 35%;
        text-align: center;
        background-color: #efefef;
        padding: 5px;
        border-radius: 10px;
        color: white;
        font-weight: 500;
        font-size: 14px;
    }

    .profiel #profile .container .contentbox .more-information .challenge {
        margin: 10px 0;
        display: flex;
        flex-wrap: wrap;
        padding-right: 10px;
    }

    .profiel #profile .container .contentbox .more-information .challenge .challenge-title {
        font-size: 16px;
        font-weight: 500;
    }

    .profiel #profile .container .contentbox .more-information .challenge .challenge-pb .claim-btn {
        max-width: 140px;
        width: 25%;
        background-color: #efefef;
        padding: 5px;
        margin-left: 10px;
        border-radius: 10px;
        color: white;
        font-weight: 500;
        font-size: 14px;
        text-align: center;
    }

    .profiel #profile .container .contentbox .more-information .challenge .challenge-pb .challenge-progression {
        font-size: 16px;
        color: #888;
    }

    .profiel #profile .container .contentbox .more-information .extra-information {
        height: 100%;
        overflow-y: scroll;
    }

    .profiel #profile .container .contentbox .more-information .grid .item-wrapper .badges-box, .profiel #profile .container .contentbox .more-information .grid .item-wrapper .teams-box {
        height: 458px;
    }

    .profiel #profile .container .contentbox .more-information .extra-information p, .profiel #profile .container .contentbox .more-information .badges-box p, .profiel #profile .container .contentbox .more-information .teams-box p {
        color: #888;
        font-size: 14px;
    }
}