@-webkit-keyframes badgeSlide {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes badgeSlide {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-webkit-keyframes challengeSlide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes challengeSlide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes popup {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(var(--x), var(--y)) rotate(var(--r));
  }
}
@keyframes popup {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(var(--x), var(--y)) rotate(var(--r));
  }
}
.notice-modal .content-notice .notice-wrapper h1 {
  margin-bottom: 0.67em;
  font-size: 16px;
}

.notice-modal .content-notice .notice-wrapper p {
  word-break: break-word;
  font-size: 14px;
}

.breadcrumbs {
  width: 100%;
  margin-bottom: 20px;
}

.item-box {
  padding: 20px;
  padding-bottom: 0;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 4px 0 rgba(51, 51, 51, 0.1);
}

.profiel #profile .container .contentbox {
  padding-top: 100px;
}
.profiel #profile .container .contentbox .challenge-popup-container {
  width: 30vw;
  height: 100vh;
  position: fixed;
  float: right;
  overflow: hidden;
  top: 70px;
  right: 0;
  z-index: 9999999;
  pointer-events: none;
}
.profiel #profile .container .contentbox .profile-header .header-info {
  display: flex;
  flex-wrap: wrap;
}
.profiel #profile .container .contentbox .profile-header .header-info .left {
  position: relative;
}
.profiel #profile .container .contentbox .profile-header .header-info .left .title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 70px;
}
.profiel #profile .container .contentbox .profile-header .header-info .left h1 {
  font-size: 24px;
  line-height: 1.2;
  margin: 0px;
}
.profiel #profile .container .contentbox .profile-header .header-info .left .profile-pic {
  position: relative;
}
.profiel #profile .container .contentbox .profile-header .header-info .left .closed {
  color: #ec202c;
  position: absolute;
  top: calc(100% - 34px);
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 0 5px 0 0;
}
.profiel #profile .container .contentbox .profile-header .header-info .right {
  width: 100%;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  width: 100%;
  justify-content: space-between;
}
.profiel #profile .container .contentbox .profile-header .header-info .right .progress-bar-container {
  margin-bottom: 50px;
}
.profiel #profile .container .contentbox .profile-header .header-info .right .progress-bar-container .rank {
  font-size: 16px;
}
.profiel #profile .container .contentbox .profile-header .header-info .right .progress-bar-container .full-progress-bar {
  width: 100%;
  height: 5px;
  background-color: #ffe6e7;
  border-radius: 10px;
}
.profiel #profile .container .contentbox .profile-header .header-info .right .progress-bar-container .full-progress-bar .progress-bar {
  transition: 1s;
  width: 0%;
  max-width: 100%;
  height: 5px;
  background-color: #ec202c;
  border-radius: 10px;
}
.profiel #profile .container .contentbox .profile-header .header-info .right .progress-bar-container .progression-text {
  font-size: 12px;
  font-style: italic;
}
.profiel #profile .container .contentbox .profile-header .header-info .right .permanent-closed {
  color: #fd4c4c;
}
.profiel #profile .container .contentbox .profile-header .header-info .right .contact-information .item-wrapper .item .item-category {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}
.profiel #profile .container .contentbox .profile-header .header-info .right .contact-information .item-wrapper .item .item-category svg {
  width: 17px;
}
.profiel #profile .container .contentbox .profile-header .header-info .right .contact-information .item-wrapper .item .item-category p {
  margin-left: 10px;
}
.profiel #profile .container .contentbox .profile-header .header-info .lazy-loaded {
  display: flex;
}
.profiel #profile .container .contentbox .profile-header .profile-box-1 {
  margin-bottom: 20px;
}
.profiel #profile .container .contentbox .profile-header .profile-header-box .left .title-pic-container .title-container .breadcrumbs .container {
  padding: 0;
}
.profiel #profile .container .contentbox .profile-header .profile-header-box .left .title-pic-container .title-container .breadcrumbs .container .content .breadcrumbs-wrapper .breadcrumbs svg {
  color: #888;
}
.profiel #profile .container .contentbox .profile-header .profile-header-box .left .title-pic-container .title-container .breadcrumbs .container .content .breadcrumbs-wrapper .breadcrumbs a {
  color: #888;
}
.profiel #profile .container .contentbox .profile-header .profile-header-box .left .title-pic-container .title-container .breadcrumbs .container .content .breadcrumbs-wrapper .breadcrumbs a:hover {
  color: #fd4c4c;
}
.profiel #profile .container .contentbox .profile-header .item-wrapper .label-container {
  display: flex;
  flex-wrap: wrap;
}
.profiel #profile .container .contentbox .profile-header .item-wrapper .label-container .labels:nth-child(2) {
  border-left: 1px solid rgb(167, 167, 167);
  border-bottom: 1px solid rgb(167, 167, 167);
}
.profiel #profile .container .contentbox .profile-header .item-wrapper .label-container .labels:nth-child(5) {
  border-left: 1px solid rgb(167, 167, 167);
  border-top: 1px solid rgb(167, 167, 167);
}
.profiel #profile .container .contentbox .profile-header .item-wrapper .label-container .labels:nth-child(1) {
  border-bottom: 1px solid rgb(167, 167, 167);
}
.profiel #profile .container .contentbox .profile-header .item-wrapper .label-container .labels:nth-child(4) {
  border-top: 1px solid rgb(167, 167, 167);
}
.profiel #profile .container .contentbox .profile-header .item-wrapper .label-container .labels:nth-child(6) {
  border-top: 1px solid rgb(167, 167, 167);
}
.profiel #profile .container .contentbox .profile-header .item-wrapper .labels {
  width: 50%;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}
.profiel #profile .container .contentbox .profile-header .item-wrapper .labels .label.number {
  font-size: 20px;
  font-weight: 700;
}
.profiel #profile .container .contentbox .profile-header .item-wrapper .labels .label.statistic {
  font-size: 12px;
  text-transform: uppercase;
}
.profiel #profile .container .contentbox .profile-header .item-wrapper .labels.full-width {
  width: 100%;
}
.profiel #profile .container .contentbox .profile-header .item-wrapper .full-width .label.statistic br {
  display: none;
}
.profiel #profile .container .contentbox .more-information .grid .item-wrapper .challenges-box {
  position: relative;
  overflow-y: clip;
}
.profiel #profile .container .contentbox .more-information .grid .item-wrapper .challenges-box #confetti-canvas {
  width: 352px;
  height: 552px;
  position: absolute;
  z-index: 9;
  top: 0;
  left: -5%;
  visibility: hidden;
  pointer-events: none;
  -webkit-clip-path: polygon(5% 0, 95% 0, 100% 100%, 0% 100%);
          clip-path: polygon(5% 0, 95% 0, 100% 100%, 0% 100%);
}
.profiel #profile .container .contentbox .more-information .grid .item-wrapper .badges-box {
  display: flex;
  flex-direction: column;
}
.profiel #profile .container .contentbox .more-information .grid .item-wrapper .badges-box .badges-container {
  height: 100%;
  margin-top: 20px;
  position: relative;
  z-index: 1;
}
.profiel #profile .container .contentbox .more-information .grid .item-wrapper .badges-box .badges-container .badges-content {
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.profiel #profile .container .contentbox .more-information .grid .item-wrapper .badges-box .badges-container #profile-complete-badge {
  display: none;
}
.profiel #profile .container .contentbox .more-information .grid .item-wrapper .badges-box .badges-container .badge {
  width: 90px;
  height: 90px;
  margin: 0;
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.profiel #profile .container .contentbox .more-information .grid .item-wrapper .badges-box .badges-container .badge svg {
  overflow: visible;
  position: absolute;
  top: 0;
  left: 0;
}
.profiel #profile .container .contentbox .more-information .grid .item-wrapper .badges-box .badges-container .badge .badge-desc {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 20;
}
.profiel #profile .container .contentbox .more-information .grid .item-wrapper .badges-box .badges-container .badge .badge-desc h4 {
  font-size: 12px;
}
.profiel #profile .container .contentbox .more-information .grid .item-wrapper .badges-box .badges-container .badge .badge-desc p {
  font-size: 12px;
  color: #000;
}
.profiel #profile .container .contentbox .more-information .grid .item-wrapper .badges-box .badges-container .badge-ani {
  -webkit-animation-name: badgeSlide;
          animation-name: badgeSlide;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
.profiel #profile .container .contentbox .more-information .grid .item-wrapper .teams-box h3 {
  margin: 0;
}
.profiel #profile .container .contentbox .more-information .grid .item-wrapper .teams-box .description {
  margin-top: 20px;
}
.profiel #profile .container .contentbox .more-information .grid .item-wrapper .teams-box .team-wrapper-container .team-wrapper .image {
  width: 70px;
  height: 70px;
}
.profiel #profile .container .contentbox .more-information .grid .item-wrapper .teams-box .team-wrapper-container .team-wrapper .image a {
  width: 70px;
  height: 70px;
}
.profiel #profile .container .contentbox .more-information .grid .item-wrapper .teams-box .team-wrapper-container .team-wrapper .team-info {
  margin: 0 0 0 10px;
}
.profiel #profile .container .contentbox .more-information .grid .item-wrapper .teams-box .team-wrapper-container .team-wrapper .team-info .name {
  font-size: 14px;
  margin: 0;
}
.profiel #profile .container .contentbox .more-information .grid .item-wrapper .teams-box .team-wrapper-container .team-wrapper .team-info .labels {
  display: flex;
  flex-direction: column;
}
.profiel #profile .container .contentbox .more-information .grid .item-wrapper .teams-box .team-wrapper-container .team-wrapper .team-info .labels .label {
  margin: -3px 0;
  padding: 0;
  background-color: #f8f8f8;
  height: 0;
  font-size: 12px;
  box-shadow: none;
}
.profiel #profile .container .contentbox .more-information .challenges-top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}
.profiel #profile .container .contentbox .more-information .challenges-top-container .claim-all-btn {
  max-width: 140px;
  width: 40%;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  font-size: 12px;
  background-color: #efefef;
}
.profiel #profile .container .contentbox .more-information .challenges-top-container .claim-all {
  background-color: #30d158;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.profiel #profile .container .contentbox .more-information .challenges-container {
  margin-top: 20px;
  position: relative;
  z-index: 1;
}
.profiel #profile .container .contentbox .more-information .challenges-container .challenges .desc {
  color: #888;
  font-size: 12px;
}
.profiel #profile .container .contentbox .more-information .challenge {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
}
.profiel #profile .container .contentbox .more-information .challenge .challenge-progression-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.profiel #profile .container .contentbox .more-information .challenge .challenge-title {
  font-size: 12px;
  font-weight: 500;
}
.profiel #profile .container .contentbox .more-information .challenge .challenge-exp {
  font-size: 12px;
  font-weight: 500;
  color: #d9d9d9;
}
.profiel #profile .container .contentbox .more-information .challenge .challenge-pb {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profiel #profile .container .contentbox .more-information .challenge .challenge-pb .pb-container {
  width: 100%;
  margin-top: 10px;
}
.profiel #profile .container .contentbox .more-information .challenge .challenge-pb .full-progress-bar {
  height: 5px;
  background-color: #d9d9d9;
  border-radius: 10px;
}
.profiel #profile .container .contentbox .more-information .challenge .challenge-pb .full-progress-bar .progress-bar {
  width: 0px;
  height: 5px;
  background-color: #838383;
  border-radius: 10px;
}
.profiel #profile .container .contentbox .more-information .challenge .challenge-pb .challenge-progression {
  font-size: 10px;
}
.profiel #profile .container .contentbox .more-information .challenge .challenge-pb .claim-btn {
  width: 25%;
  background-color: #efefef;
  padding: 5px;
  margin-left: 10px;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
}
.profiel #profile .container .contentbox .more-information .challenge .challenge-pb .claimable {
  background-color: #30d158;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.profiel #profile .container .contentbox .more-information .challenge-ani {
  -webkit-animation-name: challengeSlide;
          animation-name: challengeSlide;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.profiel #profile .container .contentbox .more-information .extra-information .description {
  margin-top: 20px;
}
.profiel #profile .container .contentbox .more-information .extra-information p {
  color: #888;
  font-size: 12px;
}
.profiel #profile .container .contentbox .more-information .badges-box p {
  color: #888;
  font-size: 12px;
}
.profiel #profile .container .contentbox .more-information .teams-box p {
  color: #888;
  font-size: 12px;
}
.profiel #profile .container .contentbox .more-information .team-wrapper-container .team-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 5px;
}
.profiel #profile h3 {
  font-size: 16px;
  margin: 0;
}
.profiel .shape {
  --size: 8px 16px;
  position: absolute;
  top: calc(50% - var(--size));
  left: calc(50% - var(--size));
  width: calc(var(--size) * 2);
  height: calc(var(--size) * 2);
  -webkit-animation: popup var(--d) cubic-bezier(0.08, 0.56, 0.53, 0.98) forwards;
          animation: popup var(--d) cubic-bezier(0.08, 0.56, 0.53, 0.98) forwards;
}
.profiel .circle {
  border-radius: 50%;
  background-color: var(--c);
}
.profiel .square {
  background-color: var(--c);
}

.edit-profile {
  color: #acacac;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  left: 0;
  top: 360px;
}
.edit-profile .svg-inline--fa {
  margin-right: 5px;
}

@media (min-width: 375px) {
  .container {
    padding: 0;
  }
}
@media (min-width: 568px) {
  .profiel .notice-modal .content-notice .notice-wrapper h1 {
    margin-bottom: 0.67em;
    font-size: 18px;
  }
  .profiel .notice-modal .content-notice .notice-wrapper p {
    word-break: break-word;
    font-size: 16px;
  }
  .profiel #profile .container .contentbox .profile-header .header-info .left {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .profiel #profile .container .contentbox .profile-header .header-info .left .title-container {
    display: flex;
    justify-content: unset;
    flex-direction: column;
  }
  .profiel #profile .container .contentbox .profile-header .header-info .left .title-pic-container {
    display: flex;
  }
  .profiel #profile .container .contentbox .profile-header .header-info .left .title-pic-container .profile-pic {
    position: relative;
  }
  .profiel #profile .container .contentbox .profile-header .header-info .left .closed {
    position: absolute;
    top: 79px;
    padding: 2px 7px;
    background-color: #fff;
    border-radius: 0 5px 0 0;
    font-size: 12px;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .challenges-box #confetti-canvas {
    width: 528px;
    height: 552px;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .badges-box .badges-container .badges-content {
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: unset;
    gap: 13.333px;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .badges-box .badges-container .badge {
    width: 100px;
    height: 100px;
    margin: 0;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .badges-box .badges-container .badge .badge-desc h4 {
    font-size: 16px;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .badges-box .badges-container .badge .badge-desc p {
    font-size: 14px;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .teams-box .team-wrapper-container .team-wrapper .image {
    width: 70px;
    height: 70px;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .teams-box .team-wrapper-container .team-wrapper .image a {
    width: 70px;
    height: 70px;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .teams-box .team-wrapper-container .team-wrapper .team-info {
    margin: 0 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .teams-box .team-wrapper-container .team-wrapper .team-info .name {
    font-size: 14px;
    margin: 0;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .teams-box .team-wrapper-container .team-wrapper .team-info .labels {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .teams-box .team-wrapper-container .team-wrapper .team-info .labels .label {
    margin: -3px 0;
    padding: 0;
    background-color: #f8f8f8;
    height: 0;
    font-size: 12px;
    box-shadow: none;
  }
  .profiel #profile .container .contentbox .more-information .team-wrapper-container .team-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    overflow-y: unset;
  }
  .edit-profile {
    color: #acacac;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    align-items: center;
    position: unset;
  }
}
@media (min-width: 768px) {
  .profiel .notice-modal .content-notice .notice-wrapper h1 {
    margin-bottom: 0.67em;
    font-size: 18px;
  }
  .profiel .notice-modal .content-notice .notice-wrapper p {
    word-break: break-word;
    font-size: 16px;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .challenges-box #confetti-canvas {
    width: 715px;
    height: 552px;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .badges-box .badges-container .badges-content {
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: unset;
    gap: 5px;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .badges-box .badges-container .badge {
    width: 118px;
    height: 118px;
    margin: 0;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .badges-box .badges-container .badge .badge-desc h4 {
    font-size: 10px;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .badges-box .badges-container .badge .badge-desc p {
    font-size: 10px;
  }
}
@media (min-width: 1024px) {
  .profiel .notice-modal .content-notice .notice-wrapper h1 {
    margin-bottom: 0.67em;
    font-size: 20px;
  }
  .profiel .notice-modal .content-notice .notice-wrapper p {
    word-break: break-word;
    font-size: 16px;
  }
  .profiel #profile .container .contentbox {
    padding-top: 200px;
  }
  .profiel #profile .container .contentbox .profile-header {
    display: flex;
    flex-direction: column;
  }
  .profiel #profile .container .contentbox .profile-header .profile-box-1 {
    margin-bottom: 0px;
  }
  .profiel #profile .container .contentbox .profile-header .item-wrapper .profile-header-box {
    margin-bottom: 20px;
    padding-bottom: 20px;
    display: flex;
  }
  .profiel #profile .container .contentbox .profile-header .item-wrapper .item {
    margin-bottom: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .profiel #profile .container .contentbox .profile-header .item-wrapper .label-container {
    display: flex;
    flex-wrap: nowrap;
  }
  .profiel #profile .container .contentbox .profile-header .item-wrapper .label-container .labels:nth-child(n+2) {
    border-left: 1px solid rgb(167, 167, 167);
  }
  .profiel #profile .container .contentbox .profile-header .item-wrapper .label-container .labels:nth-child(1) {
    border-bottom: 0px solid rgb(167, 167, 167);
  }
  .profiel #profile .container .contentbox .profile-header .item-wrapper .label-container .labels:nth-child(2) {
    border-bottom: 0px solid rgb(167, 167, 167);
  }
  .profiel #profile .container .contentbox .profile-header .item-wrapper .label-container .labels:nth-child(4) {
    border-top: 0px solid rgb(167, 167, 167);
  }
  .profiel #profile .container .contentbox .profile-header .item-wrapper .label-container .labels:nth-child(5) {
    border-top: 0px solid rgb(167, 167, 167);
  }
  .profiel #profile .container .contentbox .profile-header .item-wrapper .label-container .labels:nth-child(6) {
    border-top: 0px solid rgb(167, 167, 167);
  }
  .profiel #profile .container .contentbox .profile-header .item-wrapper .labels {
    width: 16.6666666667%;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    padding: 0;
  }
  .profiel #profile .container .contentbox .profile-header .item-wrapper .labels .label.number {
    font-size: 24px;
  }
  .profiel #profile .container .contentbox .profile-header .item-wrapper .labels .label.statistic {
    font-size: 16px;
    line-height: 1.3em;
    text-transform: capitalize;
  }
  .profiel #profile .container .contentbox .profile-header .item-wrapper .labels.full-width {
    width: 16.6666666667%;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    padding: 0;
  }
  .profiel #profile .container .contentbox .profile-header .item-wrapper .full-width .label.statistic br {
    display: inline;
  }
  .profiel #profile .container .contentbox .profile-header .header-info .left {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .profiel #profile .container .contentbox .profile-header .header-info .left .title-pic-container {
    display: flex;
  }
  .profiel #profile .container .contentbox .profile-header .header-info .left .title-pic-container .profile-pic {
    position: relative;
  }
  .profiel #profile .container .contentbox .profile-header .header-info .left .title-pic-container .profile-pic .closed {
    position: absolute;
    top: calc(100% - 28px);
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 0 5px 0 0;
    font-size: 12px;
  }
  .profiel #profile .container .contentbox .profile-header .header-info .left h1 {
    font-size: 24px;
    line-height: 1.2;
    margin: 0 10px 0 0;
  }
  .profiel #profile .container .contentbox .profile-header .header-info .left .title-container .title .breadcrumbs .container {
    padding: 0;
  }
  .profiel #profile .container .contentbox .profile-header .header-info .left .breadcrumbs .container {
    padding: 0;
  }
  .profiel #profile .container .contentbox .profile-header .header-info .left .breadcrumbs svg {
    color: #888;
  }
  .profiel #profile .container .contentbox .profile-header .header-info .left .breadcrumbs a {
    color: #888;
  }
  .profiel #profile .container .contentbox .profile-header .header-info .left .breadcrumbs a:hover {
    color: #fd4c4c;
  }
  .profiel #profile .container .contentbox .profile-header .header-info .right {
    position: relative;
    top: -85px;
    left: 170px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    width: calc(100% - 170px);
    justify-content: space-between;
    margin-bottom: -85px;
  }
  .profiel #profile .container .contentbox .profile-header .header-info .right .progress-bar-container {
    position: absolute;
    bottom: 0;
    padding-bottom: 0px;
    margin: 0;
    width: 50%;
  }
  .profiel #profile .container .contentbox .profile-header .header-info .right .progress-bar-container .rank {
    font-size: 18px;
  }
  .profiel #profile .container .contentbox .profile-header .header-info .right .contact-information {
    width: 50%;
    position: absolute;
    top: -31.5px;
    right: 0;
    align-items: center;
  }
  .profiel #profile .container .contentbox .profile-header .header-info .right .contact-information .item-wrapper {
    display: flex;
    justify-content: center;
  }
  .profiel #profile .container .contentbox .profile-header .header-info .right .contact-information .item-wrapper .item {
    flex-direction: row;
    width: 100%;
  }
  .profiel #profile .container .contentbox .profile-header .header-info .right .contact-information .item-wrapper .item .item-category {
    justify-content: center;
    display: flex;
    margin-bottom: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
  }
  .profiel #profile .container .contentbox .profile-header .header-info .right .contact-information .item-wrapper .item .item-category p {
    margin-left: 10px;
  }
  .profiel #profile .container .contentbox .more-information .challenges-top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .profiel #profile .container .contentbox .more-information .challenges-top-container #claim-all-btn {
    max-width: 140px;
    width: 35%;
    text-align: center;
    background-color: #30d158;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    font-size: 14px;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .challenges-box {
    height: 458px;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .challenges-box #confetti-canvas {
    width: 110%;
    height: 100%;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .challenges-box .challenges-container {
    margin-top: -20px;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .challenges-box .challenges-container .challenges {
    height: 100%;
    max-height: 370px;
    overflow-y: auto;
    overflow-x: visible;
    position: relative;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .challenges-box .challenges-container .challenges::webkit-scrollbar-track {
    border: 0px solid #000;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .challenges-box .challenges-container .challenges::webkit-scrollbar {
    position: relative;
    z-index: 1;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .badges-box {
    height: 458px;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .badges-box .badges-container {
    margin-top: 0;
    height: 368px;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .badges-box .badges-container .badges-content {
    overflow-y: unset;
    z-index: 10;
    width: 100%;
    height: unset;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .badges-box .badges-container .badge {
    width: 131.67px;
    height: 131.67px;
    margin: 0;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .badges-box .badges-container .badge .badge-desc h4 {
    font-size: 14px;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .badges-box .badges-container .badge .badge-desc p {
    font-size: 14px;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .badges-box .badges-container .badges-content:has(div:nth-child(5)) {
    overflow-y: auto;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .badges-box .badges-container .badges-content:has(div:nth-child(5)) > div {
    width: 118.94px;
    height: 118.94px;
    margin: 0;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .badges-box .badges-container .badges-content:has(div:nth-child(5)) > div .badge-desc h4 {
    font-size: 14px;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .badges-box .badges-container .badges-content:has(div:nth-child(5)) > div .badge-desc p {
    font-size: 14px;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .teams-box {
    height: 458px;
    display: flex;
    flex-direction: column;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .teams-box .team-wrapper-container .team-wrapper .image {
    width: 70px;
    height: 70px;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .teams-box .team-wrapper-container .team-wrapper .image a {
    width: 70px;
    height: 70px;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .teams-box .team-wrapper-container .team-wrapper .team-info {
    margin: 0 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .teams-box .team-wrapper-container .team-wrapper .team-info .name {
    font-size: 14px;
    margin: 0;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .teams-box .team-wrapper-container .team-wrapper .team-info .labels {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .teams-box .team-wrapper-container .team-wrapper .team-info .labels .label {
    margin: -10px 0;
    padding: 0;
    background-color: #f8f8f8;
    height: 0;
    font-size: 12px;
    box-shadow: none;
  }
  .profiel #profile .container .contentbox .more-information .challenge {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    padding-right: 10px;
  }
  .profiel #profile .container .contentbox .more-information .challenge .challenge-title {
    font-size: 16px;
    font-weight: 500;
  }
  .profiel #profile .container .contentbox .more-information .challenge .challenge-pb .claim-btn {
    max-width: 140px;
    width: 25%;
    background-color: #efefef;
    padding: 5px;
    margin-left: 10px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
  }
  .profiel #profile .container .contentbox .more-information .challenge .challenge-pb .challenge-progression {
    font-size: 16px;
    color: #888;
  }
  .profiel #profile .container .contentbox .more-information .challenge .challenge-pb .claimable {
    background-color: #30d158;
    cursor: pointer;
  }
  .profiel #profile .container .contentbox .more-information .extra-information {
    height: 460px;
    overflow-y: auto;
  }
  .profiel #profile .container .contentbox .more-information .extra-information p {
    color: #888;
    font-size: 14px;
  }
  .profiel #profile .container .contentbox .more-information .badges-box p {
    color: #888;
    font-size: 14px;
  }
  .profiel #profile .container .contentbox .more-information .teams-box p {
    color: #888;
    font-size: 14px;
  }
  .profiel #profile .container .contentbox .more-information .team-wrapper-container {
    overflow-y: none;
  }
  .profiel #profile .container .contentbox .more-information .team-wrapper-container .team-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    margin: 0 0px 20px 0;
  }
  .profiel #profile h3 {
    font-size: 20px;
    margin: 0 0 20px 0;
  }
  .edit-profile {
    position: relative;
    right: 0;
    top: 0;
    color: #acacac;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    align-items: center;
  }
  .item-box {
    padding: 20px 0 20px 0;
    padding-bottom: 0;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 4px 0 rgba(51, 51, 51, 0.1);
  }
}
@media (min-width: 1200px) {
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .badges-box {
    height: 458px;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .badges-box .badges-container .badge {
    width: 155px;
    height: 155px;
    margin: 0;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .badges-box .badges-container .badges-content:has(div:nth-child(5)) > div {
    width: 142.275px;
    height: 142.275px;
    margin: 0;
    display: flex;
    justify-content: center;
    position: relative;
  }
}
@media (min-width: 1440px) {
  .profiel #profile .container .contentbox .profile-header .header-info .right .contact-information .item-wrapper .item .item-category svg {
    width: 25px;
    height: 25px;
  }
  .profiel #profile .container .contentbox .profile-header .header-info .right .contact-information .item-wrapper .item .item-category p {
    margin-left: 10px;
    font-size: 18px;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .badges-box .badges-container .badge {
    width: 171.555px;
    height: 171.555px;
    margin: 0;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .badges-box .badges-container .badge .badge-desc {
    padding: 5px;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .badges-box .badges-container .badge .badge-desc h4 {
    font-size: 14px;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .badges-box .badges-container .badge .badge-desc p {
    font-size: 14px;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .badges-box .badges-container .badges-content:has(div:nth-child(5)) > div {
    width: 158.94px;
    height: 158.94px;
    margin: 0;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .teams-box {
    display: flex;
    flex-direction: column;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .teams-box .team-wrapper-container .team-wrapper .image {
    width: 70px;
    height: 70px;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .teams-box .team-wrapper-container .team-wrapper .image a {
    width: 70px;
    height: 70px;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .teams-box .team-wrapper-container .team-wrapper .team-info {
    margin: 0 0 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .teams-box .team-wrapper-container .team-wrapper .team-info .name {
    font-size: 16px;
    margin: 0;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .teams-box .team-wrapper-container .team-wrapper .team-info .labels {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .profiel #profile .container .contentbox .more-information .grid .item-wrapper .teams-box .team-wrapper-container .team-wrapper .team-info .labels .label {
    margin: -5px 0;
    padding: 0;
    background-color: #f8f8f8;
    height: 0;
    font-size: 14px;
    box-shadow: none;
  }
  .profiel #profile .container .contentbox .more-information .team-wrapper-container {
    overflow-y: auto;
  }
  .profiel #profile .container .contentbox .more-information .team-wrapper-container .team-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 5px;
    margin: 0 10px 20px 0;
  }
}/*# sourceMappingURL=style.css.map */